/**
 * CSS.
 */
 
#ctrlv-helper-window .col-md-2,
#ctrlv-helper-window .col-md-3,
#ctrlv-helper-window .col-md-4,
#ctrlv-helper-window .col-md-6,
#ctrlv-helper-window .col-md-8  {
	border: 1px dashed #ccc;
	line-height: initial;
	box-sizing: border-box;
}

#ctrlv-helper-window .col-md-2 {
	width: 16.66666667%;
}

#ctrlv-helper-window .col-md-3 {
	width: 25%;
}

#ctrlv-helper-window p.category {
	margin: 0;
	color: #999;
}

#ctrlv-helper-window .col-md-4 {
	width: 33.3333%;
}

#ctrlv-helper-window .js .postbox .hndle {
	cursor: auto;
}

#ctrlv-helper-window .col-md-6 {
	width: 50%;
}

#ctrlv-helper-window .col-md-8 {
	width: 66.66666667%;
}

#ctrlv-helper-window {
	position:fixed;
	top:50%;
	min-width:800px;
	margin-top:-200px;
	left:50%;
	margin-left:-400px;
	display:none;
	z-index:9999;
}

#ctrlv-helper-window button.add-content {
	margin-top: 5px;
	float: left;
}



#ctrlv-helper-window .ctrlv-snippet-wrap {
	margin-bottom:40px;
	width:25%;
	display:inline-block;
	padding:10px;
	box-sizing:border-box;
}

#ctrlv-helper-window img {
	max-width:100%;
	height:auto;
}

#ctrlv-helper-window h4 {
	margin-bottom: 0;
}

#ctrlv-helper-window select {
	padding: 2px;
	line-height: 28px;
	height: 28px;
	vertical-align: middle;
	max-width:100%;
	margin-right: 10px;
	margin-bottom:10px;
	padding-right:20px;
}

#ctrlv-helper-window .ctrlv-close {
	float:right;
	cursor:pointer;
	font-size:18px;
	padding:10px;
}

#ctrlv-helper-window .ctrlv-close:before {
font-family: "dashicons";
    content: "\f158";
	color: #D60001;	
}

.ctrlv-helper-shade {
	z-index:9998;
	position:fixed;
	background: rgba(0, 0, 0, 0.5);
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
}

#ctrlv-helper-window .hndle {
	font-size: 16px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
}

#ctrlv-helper-window .window-header {
	width:100%;
	clear:both;
	overflow:hidden;
}

#ctrlv-helper-window .window-header .description {
	padding:10px;
	margin:0;
}

#ctrlv-helper-window .inside {
	max-height: 300px;
	min-height:300px;
	max-width:800px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-bottom:1px solid #e5e5e5;
	border-top:1px solid #e5e5e5;
	margin-top:0;
	background-color: #f3f3f3;
}

#ctrlv-helper-window .snippet {
	zoom:0.2;
	border: 1px dashed #71ABC2;
	max-width:100%;
	overflow:hidden;
	padding:30px;
}

#ctrlv-helper-window .snippets {
	max-height:400px;
}

#ctrlv-helper-window .floatleft {
	float:left;
}

#ctrlv-helper-window .floatright {
	float:right;
	text-align: right;
}

#ctrlv-helper-window .floatright p {
	padding:10px;
	margin:0;
	padding-bottom:5px;
}